@import "../../variables";

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.sideNav {
  position: fixed;
  top: 50%;
  left: 3rem;
  font-family: "Poppins";
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;

  @media only screen and (max-width: $bp-medium) {
    display: none;
  }

  &__item {
    font-size: $baseFontSize;
    padding: 0.5rem;
    display: flex;
    align-items: center;

    &::before {
      content: "";
      display: inline-block;
      width: 1.2rem;
      height: 1.2rem;
      border-radius: 50%;
      background-color: $fontColor;
      padding: 0.5rem;
      margin-right: 1rem;
      transition: all 0.7s ease;
    }

    &_active {
      font-size: $baseFontSize;
      color: $secondaryColor;

      &::before {
        content: "";
        display: inline-block;
        width: 3rem;
        height: 1.2rem;
        border-radius: 10px;
        background-color: $secondaryColor;
        margin-right: 1rem;
        margin-left: 0.5rem;
        transition: all 0.7s ease;
      }
    }
  }
}
