@import "../../variables";

.HomeContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  padding-top: 6.8rem;
  margin-bottom: 4rem;

  @media only screen and (max-width: $bp-small) {
    height: 80rem;
  }

  @media only screen and (max-width: $bp-smallest) {
    height: 74rem;
  }
}

.homeTextBox {
  grid-row: 1;
  grid-column: 1;
  margin: 40rem 0 10rem 15vw;
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: $bp-large) {
    margin: 40rem 0 10rem 12vw;
  }

  @media only screen and (max-width: $bp-medium) {
    margin: 40rem 0 10rem 6vw;
  }

  @media only screen and (max-width: $bp-small) {
    justify-self: center;
    align-items: center;
    margin: 0;
    grid-column: 1/-1;
    padding: 5rem 8rem;
    max-width: 62rem;
  }

  @media only screen and (max-width: $bp-smallest) {
    padding: 5rem 1.5rem;
    max-width: 50rem;
  }

  &__header {
    font-size: 6rem;
    color: $fontColor;
    font-weight: 300;
    white-space: nowrap;

    @media only screen and (max-width: $bp-medium) {
      font-size: 4.5rem;
    }

    @media only screen and (max-width: $bp-medium) {
      font-size: 3.5rem;
    }
  }

  &__text {
    font-size: 1.8rem;
    color: $fontColor;

    @media only screen and (max-width: $bp-medium) {
      font-size: $baseFontSize;
    }

    @media only screen and (max-width: $bp-smallest) {
      margin-left: 1.5rem;
    }
  }
}

.orange {
  color: $secondaryColor;
}

.techStack {
  grid-row: 2;
  grid-column: 1/-1;
  background-color: $greyColor;
  height: 12rem;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;

  @media only screen and (max-width: $bp-large) {
    height: 9rem;
  }

  &__text {
    color: $fontColor;
    font-size: $headingFontSize;

    @media only screen and (max-width: $bp-smallest) {
      font-size: 1.8rem;
      margin: 0 0.7rem;
    }
  }

  &__divider {
    width: 0.2rem;
    height: 80%;
    background-color: $secondaryColor;
    border-radius: 20%;
    margin-left: 2rem;
    margin-right: 2rem;

    @media only screen and (max-width: $bp-smallest) {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }

  &__list {
    display: flex;
    list-style-type: none;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    &_icon {
      max-height: 7rem;
      margin: 0 4rem;

      @media only screen and (max-width: $bp-large) {
        max-height: 6rem;
      }

      @media only screen and (max-width: $bp-medium) {
        margin: 0 2rem;
      }

      @media only screen and (max-width: $bp-smallest) {
        margin: 0 0.7rem;
        max-height: 3.5rem;
      }
    }
  }
}

.imageContainer {
  justify-self: center;
  grid-column: 2/-1;
  grid-row: 1;
  position: relative;

  @media only screen and (max-width: $bp-small) {
    grid-column: 1 /-1;
  }
}

.MyImg {
  height: 46rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  @media only screen and (max-width: $bp-large) {
    height: 42rem;
  }

  @media only screen and (max-width: $bp-small) {
    height: 38rem;
  }

  @media only screen and (max-width: $bp-smallest) {
    height: 35rem;
  }
}
