@import "../../variables";

.portfolioContainer {
  display: flex;
  flex-direction: column;
}
.header {
  align-self: center;
  left: 50%;
  color: $secondaryColor;
  font-size: $headingFontSizeBig;
  font-weight: 600;
  padding-bottom: 4rem;
}

.portfolioContainer__flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15rem;

  @media only screen and (max-width: $bp-largest) {
    gap: 5rem;
  }

  @media only screen and (max-width: $bp-large) {
    flex-direction: column;
    gap: 4rem;
  }
}

.project1,
.project2 {
  display: flex;
  flex-direction: column;
  background-color: $greyColor;
  max-width: 50rem;
  height: 75rem;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  align-items: center;

  @media only screen and (max-width: $bp-large) {
    height: auto;
  }

  @media only screen and (max-width: $bp-smallest) {
    max-width: 90vw;
  }

  &__image {
    max-width: 101%;
    max-height: auto;
  }

  &__header {
    align-self: center;
    padding: 1.5rem 100%;
    font-size: $headingFontSize;
    color: $fontColor;
    font-weight: 600;
    white-space: nowrap;

    @media only screen and (max-width: $bp-large) {
      padding: 1rem;
    }
  }

  &__text_header {
    font-size: 1.8rem;
    color: $secondaryColor;
    font-weight: 600;
    padding: 1rem 2rem;
  }

  &__text {
    font-family: "poppins";
    font-size: $baseFontSize;
    padding: 0.5rem 2rem;
    color: $fontColor;

    @media only screen and (max-width: $bp-large) {
      padding: 0.3rem 2rem;
    }
  }

  &__text_start {
    font-family: "poppins";
    color: $secondaryColor;
    font-weight: 500;
  }

  &__links {
    &_flex {
      display: flex;
      gap: 3rem;
      padding: 1rem;
      margin-top: auto;
    }

    &_icon {
      font-size: 5rem;
      cursor: pointer;
      color: $fontColor;
      transition: all 0.3s;

      &:hover {
        transform: translateY(-2px);
        color: $secondaryColor;
      }
    }
  }
}

// .margin_adjustment {
//   margin-top: 0.5rem;
// }
