$primaryColor: #191a1f;
$secondaryColor: #ff312e;
$fontColor: #f7f7f7;
$greyColor: #333138;
$secondaryGreyColor: #4a494b;

// Font Variables
$baseFontSize: 1.6rem;
$headingFontSize: 2.4rem;
$headingFontSizeBig: 3rem;
